<a href="https://colab.research.google.com/github/ValentinaGonzalezAvila/Proyecto-Sistemas-de-Informaci-n/blob/main/PROYECTOBIENESTAR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Proyecto Sistemas de Información**

In [ ]:
import numpy as np
import pandas as pd


# Obtener el archivo de ingresos
datos = pd.read_excel("https://github.com/ValentinaGonzalezAvila/Proyecto-Sistemas-de-Informaci-n//raw/main/Ingresos_a_Procesos_Administrativos_de_Restablecimiento_de_Derechos__PARD__de_NNA.xlsx")
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237849 entries, 0 to 237848
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   AÑO                237849 non-null  int64
 1   MES                237849 non-null  int64
 2   REGIONAL           237849 non-null  object
 3   CENTRO_ZONAL       237849 non-null  object
 4   MOTIVO_DE_INGRESO  237849 non-null  object
 5   SEXO               237849 non-null  object
 6   RANGO_EDAD         237849 non-null  object
 7   GRUPO_ETNICO       237849 non-null  object
 8   NACIONALIDAD       237849 non-null  object
 9   CANTIDAD_PROCESOS  237849 non-null  int64
dtypes: int64(3), object(7)
memory usage: 18.1+ MB

In [ ]:
# Mostrar la estadistica descriptiva de la información del dataframe
datos.describe()

                 AÑO            MES  CANTIDAD_PROCESOS
count  237849.000000  237849.000000      237849.000000
mean     2016.598846       6.477576           1.722172
std         2.830353       3.387798           2.031224
min      2012.000000       1.000000           1.000000
25%      2014.000000       3.000000           1.000000
50%      2017.000000       6.000000           1.000000
75%      2019.000000       9.000000           2.000000
max      2021.000000      12.000000          74.000000

In [ ]:
#¿Cuantos ingresos se presentaron en los ultimos 5 años?

ingresos = datos[datos.AÑO >= 2017].sum()['CANTIDAD_PROCESOS']
print(f"los ingresos de los últimos 5 años fueron {ingresos}")

los ingresos de los últimos 5 años fueron 227519

In [ ]:
#¿Cuántos ingresos con nacionalidad colombiana y en bogota se tienen en el registro? 

nb = len(datos[(datos.NACIONALIDAD == "COLOMBIANO")&(datos.REGIONAL == "BOGOTA")])
print(f"los ingresos de Colombianos en Bogotá fueron: {nb}")

los ingresos de Colombianos en Bogotá fueron: 37569

In [ ]:
# Mostrar las filas que en la columna CANTIDAD_PROCESOS tengan el valor 48
datos[(datos.CANTIDAD_PROCESOS== 48)]

,AÑO,MES,REGIONAL,CENTRO_ZONAL,MOTIVO_DE_INGRESO,SEXO,RANGO_EDAD,GRUPO_ETNICO,NACIONALIDAD,CANTIDAD_PROCESOS
36,2014,6,ATLANTICO,CZ HIPODROMO,Condiciones Especiales de Cuidadores,Femenino,De 12 a 17 años,No se autoreconoce en ninguno de los anteriores,COLOMBIANO,48
119874,2016,5,BOGOTA,CZ CREER,Consumo de Sustancias Psicoactivas (SPA),Masculino,De 12 a 17 años,Sin Información,COLOMBIANO,48
126900,2016,8,BOGOTA,CZ CREER,Consumo de Sustancias Psicoactivas (SPA),Femenino,De 12 a 17 años,Sin Información,COLOMBIANO,48
134251,2016,11,BOGOTA,CZ CREER,Consumo de Sustancias Psicoactivas (SPA),Masculino,De 12 a 17 años,Sin Información,COLOMBIANO,48
227709,2012,8,BOGOTA,CZ CREER,Consumo de Sustancias Psicoactivas (SPA),Masculino,De 12 a 17 años,No se autoreconoce en ninguno de los anteriores,COLOMBIANO,48

In [ ]:
#¿En la regional de Antioquia cuántos niños fueron registrados?

r = datos[(datos.REGIONAL=="ANTIOQUIA")].CANTIDAD_PROCESOS.sum()
print(f"la cantidad de niños registrados en la región de Antioquia fuerón: {r}")

la cantidad de niños registrados en la región de Antioquia fuerón: 22602

In [ ]:
#¿Cuáles son los grupos étnicos que se encuentran en el listado? 
datos.groupby("GRUPO_ETNICO").size()

GRUPO_ETNICO
Afrocolombiano (a)                                   8580
Comunidad Negra                                       148
Indígena                                             7135
No se autoreconoce en ninguno de los anteriores     58580
Palenquero (a)                                         28
Raizal                                                564
Rom/Gitano                                             44
Sin Información                                    162770
dtype: int64

In [ ]:
#¿Que rango de edad que se encuentran en el registro?
datos.groupby("RANGO_EDAD").size()

RANGO_EDAD
De 0 a 5 años              63119
De 12 a 17 años            98993
De 6 a 11 Años             72036
Mayor o igual a 18 años     2431
Sin Información             1270
dtype: int64

In [10]:
#¿Cuál es el sexo que más ingresó en el 2021?
y2021=datos[(datos.AÑO==2021)&((datos.SEXO=="Femenino")|(datos.SEXO=="Masculino"))]
y2021.groupby("SEXO").size()

SEXO
Femenino     15143
Masculino    11856
dtype: int64

In [ ]:
#Mostrar cuál es el principal motivo de ingreso 
datos.MOTIVO_DE_INGRESO.max()

'Violencia Sexual'